@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: #0a0908;
    --background-start-rgb: #ced4da;
    --background-end-rgb: #ced4da;
    --base-scroll: #adb5bd;
    --base-scroll-hover: #8e949b;
    --innerHeight: 0;
}
.dark:root {
    --foreground-rgb: #f8f9fa;
    --background-start-rgb: #0a0908;
    --background-end-rgb: #080708;
    --base-scroll: #212529;
    --base-scroll-hover: #343a40;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --base-scroll: #fff;
        --base-scroll-hover: #fff;
    }
}
body {
    color: var(--foreground-rgb);
    background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
    @apply max-w-[2560px] mx-auto;
}
.loaded {
    @apply transition duration-1000 opacity-0 delay-200;
}
.loaded-svg {
    @apply scale-[2] opacity-0 transition duration-500;
}
div[data-aos][data-aos-easing][data-aos-delay].text-exit {
    @apply blur-lg opacity-0 duration-1000 delay-0 scale-[2.0] ease-out;
}
.parallax-layer {
    @apply absolute;
}
.parallax-layer-1-extender {
    --hg : 100vh;
    @apply w-screen bg-[#1C2737] z-[99];
    /* @apply top-[calc(50vh+10vw)] h-[100vh] md:top-[calc(75vh+15vw)]; */
    @apply h-[var(--hg)] bottom-[calc(var(--hg)/-1.5)];
}
.parallax-layer-1 {
    --hg : 80vh;
    @apply w-screen bg-[url('/layer-1.webp')] bg-top bg-cover z-[100];
    /* @apply md:top-[calc(45vh-25vw)] h-[80vw] top-[calc(50vh-15vw)]; */
    @apply h-[var(--hg)] bottom-[calc(var(--hg)/-5)] lg:bottom-[calc(var(--hg)/-8)] xl:bottom-[calc(var(--hg)/-20)] 2xl:bottom-[0];
}
.parallax-layer-2 {
    --hg : 60vh;
    @apply w-screen bg-[url('/layer-2.webp')] bg-left-top bg-cover z-[98];
    /* @apply md:top-[calc(40vh-2.5vw)] h-[60vw] top-[calc(57.5vh-15vw)]; */
    @apply h-[var(--hg)] bottom-[calc(var(--hg)/-3.6)] lg:bottom-[calc(var(--hg)/-4.2)] xl:bottom-[calc(var(--hg)/-4.5)] 2xl:bottom-[calc(var(--hg)/-5)];
}
.parallax-layer-3 {
    @apply w-screen bg-[url('/layer-3.webp')] bg-top bg-cover z-[97];
    @apply md:top-[calc(7.5vh+15vw)] h-[80vh] top-[calc(12.5vh+15vw)];
}
.parallax-layer-4 {
    @apply w-screen bg-[url('/layer-4.webp')] bg-top bg-cover z-[96];
    @apply md:top-[7.5vw] h-[70vh] top-[15vw];
}

.parallax-layer-1:not(.init), .parallax-layer-1:not(.init) ~ .parallax-layer-1-extender {
    transform: translate(0, 150vh) !important;
}
.parallax-layer-2:not(.init) {
    transform: translate(0, 150vh) !important;
}
.parallax-layer-4:not(.init) {
    transform: translate(100vw, 100vh) !important;
}
.parallax-layer-3:not(.init) {
    transform: translate(-100vw, 100vh) !important;
}
.section-1 {
    @apply z-[200] relative;
}
[data-scroll-section-inview],
[data-scroll-section-inview] * {
    @apply will-change-transform;
}
.section-0 {
    background: hsla(203, 21%, 68%, 1);
    background: linear-gradient(180deg, #9db2bf 22.5%, #dde6ed 30%, #ffffff);
    background-size: 100% 400%;
    @apply transition-[background-position] duration-1000;
}
.bg-parallax {
    background-position: 0% 30%;
}
.section-0:not(.bg-parallax) {
    background-position: 0% 50%;
}
.parallax-introduce-image {
    @apply w-full max-w-[450px] h-full max-h-[950px] mix-blend-multiply opacity-75;
}
.parallax-introduce-image > img {
    @apply my-[-30px];
}
.parallax-introduce > div {
    @apply overflow-hidden;
}
.card {
    @apply min-w-[100px] grow flex rounded py-5 px-3 justify-center border-2 border-t-[30px] bg-[#f8f9fa22];
}
.card[type="1"] {
    @apply border-[#adb5bd];
}
.card[type="2"] {
    @apply border-[#4361ee];
}
.card[type="3"] {
    @apply border-[#7209b7];
}
.card[type="4"] {
    @apply border-[#f72585];
}