@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: #0a0908;
    --background-start-rgb: #ced4da;
    --background-end-rgb: #ced4da;
    --base-scroll: #adb5bd;
    --base-scroll-hover: #8e949b;
    --innerHeight: 0;
}
.dark:root {
    --foreground-rgb: #f8f9fa;
    --background-start-rgb: #0a0908;
    --background-end-rgb: #080708;
    --base-scroll: #212529;
    --base-scroll-hover: #343a40;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --base-scroll: #fff;
        --base-scroll-hover: #fff;
    }
}
body {
    color: var(--foreground-rgb);
    background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
    @apply max-w-[2560px] mx-auto;
}
.loaded {
    @apply transition duration-1000 opacity-0 delay-200;
}
.loaded-svg {
    @apply scale-[2] opacity-0 transition duration-500;
}
div[data-aos][data-aos-easing][data-aos-delay].text-exit {
    @apply blur-lg opacity-0 duration-1000 delay-0 scale-[2.0] ease-out;
}
.parallax-layer {
    @apply absolute;
}
.parallax-layer-1-extender {
    --hg: 100vh;
    @apply w-screen bg-[#1C2737] z-[99];
    /* @apply top-[calc(50vh+10vw)] h-[100vh] md:top-[calc(75vh+15vw)]; */
    @apply h-[var(--hg)] bottom-[calc(var(--hg)/-1.5)];
}
.parallax-layer-1 {
    --hg: 80vh;
    @apply w-screen bg-[url('/layer-1.webp')] bg-top bg-cover z-[100];
    /* @apply md:top-[calc(45vh-25vw)] h-[80vw] top-[calc(50vh-15vw)]; */
    @apply h-[var(--hg)] bottom-[calc(var(--hg)/-5)] lg:bottom-[calc(var(--hg)/-8)] xl:bottom-[calc(var(--hg)/-20)] 2xl:bottom-[0];
}
.parallax-layer-2 {
    --hg: 60vh;
    @apply w-screen bg-[url('/layer-2.webp')] bg-left-top bg-cover z-[98];
    /* @apply md:top-[calc(40vh-2.5vw)] h-[60vw] top-[calc(57.5vh-15vw)]; */
    @apply h-[var(--hg)] bottom-[calc(var(--hg)/-3.6)] lg:bottom-[calc(var(--hg)/-4.2)] xl:bottom-[calc(var(--hg)/-4.5)] 2xl:bottom-[calc(var(--hg)/-5)];
}
.parallax-layer-3 {
    @apply w-screen bg-[url('/layer-3.webp')] bg-top bg-cover z-[97];
    @apply md:top-[calc(7.5vh+15vw)] h-[80vh] top-[calc(12.5vh+15vw)];
}
.parallax-layer-4 {
    @apply w-screen bg-[url('/layer-4.webp')] bg-top bg-cover z-[96];
    @apply md:top-[7.5vw] h-[70vh] top-[15vw];
}

.parallax-layer-1:not(.init),
.parallax-layer-1:not(.init) ~ .parallax-layer-1-extender {
    transform: translate(0, 150vh) !important;
}
.parallax-layer-2:not(.init) {
    transform: translate(0, 150vh) !important;
}
.parallax-layer-4:not(.init) {
    transform: translate(100vw, 100vh) !important;
}
.parallax-layer-3:not(.init) {
    transform: translate(-100vw, 100vh) !important;
}
.section-1 {
    @apply z-[200] relative;
}
[data-scroll-section-inview],
[data-scroll-section-inview] * {
    @apply will-change-transform;
}
.section-0 {
    background: hsla(203, 21%, 68%, 1);
    background: linear-gradient(180deg, #9db2bf 22.5%, #dde6ed 30%, #ffffff);
    background-size: 100% 400%;
    @apply transition-[background-position] duration-1000;
}
.bg-parallax {
    background-position: 0% 30%;
}
.section-0:not(.bg-parallax) {
    background-position: 0% 50%;
}
.parallax-introduce-image {
    @apply w-full max-w-[450px] h-full max-h-[950px] mix-blend-multiply opacity-75;
}
.parallax-introduce-image > img {
    @apply my-[-30px];
}
.parallax-introduce > div {
    @apply overflow-hidden;
}
.skill {
    @apply transition-[backdrop-filter,background] min-w-[100px] grow flex rounded py-5 px-3 justify-center border-2 border-t-[30px] bg-[#27292D];
}
.porto {
    @apply transition-[backdrop-filter,background] ring-offset-[#07090D] ring-offset-0 ring-0 grow flex rounded pb-5 justify-center border-2 bg-[#27292D] w-min min-w-full sm:min-w-[400px] max-w-full;
}
.skill:hover,
.porto:hover,
.contact:hover {
    @apply bg-[#27292D]/[.20] backdrop-blur-sm;
}
a.porto {
    --tw-ring-color : #212529;
    @apply transition-[box-shadow,border];
}
a.contact {
    --tw-ring-color : #212529;
    @apply transition-[box-shadow,border];
}
a.porto:hover,a.contact:hover {
    @apply ring-[5px];
}
.skill[type="1"],
.porto[type="1"] {
    @apply border-[#adb5bd];
}
.skill[type="2"],
.porto[type="2"] {
    @apply border-[#4361ee];
}
.skill[type="3"],
.porto[type="3"] {
    @apply border-[#7209b7];
}
.skill[type="4"],
.porto[type="4"] {
    @apply border-[#f72585];
}
.porto[type="1"] > .porto-header {
    @apply bg-[#adb5bd] ring-[#adb5bd] text-[#212529];
}
.porto[type="2"] > .porto-header {
    @apply bg-[#4361ee] ring-[#4361ee] text-[#fff];
}
.porto[type="3"] > .porto-header {
    @apply bg-[#7209b7] ring-[#7209b7] text-[#fff];
}
.porto[type="4"] > .porto-header {
    @apply bg-[#f72585] ring-[#f72585] text-[#fff];
}
.porto-header {
    @apply w-full py-3 mb-3 flex justify-center items-center font-bold;
}
.porto-body {
    @apply px-3;
}
.contact-body {
    @apply flex px-3;
}
.contact-header {
    @apply bg-[#adb5bd] text-[#212529] h-[40px] w-full mb-5 flex justify-center items-center font-bold;
}
.contact {
    @apply transition-[backdrop-filter,background] ring-offset-[#07090D] ring-offset-0 ring-0 min-w-[100px] grow flex flex-wrap pb-5 rounded justify-center items-start border-2 border-[#adb5bd] bg-[#27292D];
}
.contact-icon {
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    @apply me-4 aspect-square my-0 ms-0 p-0;
}
.contact-icon[data-img="github"] {
    mask-image: url("/contacts/github.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
.contact-icon[data-img="email"] {
    mask-image: url("/contacts/email.svg");
    width: 25px;
    @apply bg-[#E5E7EB];
}
.contact-icon[data-img="instagram"] {
    mask-image: url("/contacts/instagram.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
.contact-icon[data-img="phone"] {
    mask-image: url("/contacts/phone.svg");
    width: 25px;
    @apply bg-[#E5E7EB];
}
.contact-icon[data-img="whatsapp"] {
    mask-image: url("/contacts/whatsapp.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
.contact-icon[data-img="discord"] {
    mask-image: url("/contacts/discord.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}


/*  */


.card-body {
    @apply flex px-3;
}
.card-header {
    @apply bg-[#adb5bd] text-[#212529] h-[40px] w-full mb-5 flex justify-center items-center font-bold;
}
.card {
    @apply transition-[backdrop-filter,background] ring-offset-[#07090D] ring-offset-0 ring-0 min-w-[100px] grow flex flex-wrap pb-5 rounded justify-center items-start border-2 border-[#adb5bd] bg-[#27292D];
}
.card-icon {
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;
    @apply me-4 aspect-square my-0 ms-0 p-0;
}
.card-icon[data-img="github"] {
    mask-image: url("/contacts/github.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
.card-icon[data-img="email"] {
    mask-image: url("/contacts/email.svg");
    width: 25px;
    @apply bg-[#E5E7EB];
}
.card-icon[data-img="instagram"] {
    mask-image: url("/contacts/instagram.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
.card-icon[data-img="phone"] {
    mask-image: url("/contacts/phone.svg");
    width: 25px;
    @apply bg-[#E5E7EB];
}
.card-icon[data-img="whatsapp"] {
    mask-image: url("/contacts/whatsapp.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
.card-icon[data-img="discord"] {
    mask-image: url("/contacts/discord.svg");
    width: 32.5px;
    @apply bg-[#E5E7EB];
}
a.card {
    --tw-ring-color : #212529;
    @apply transition-[box-shadow,border];
}
a.card:hover {
    @apply ring-[5px];
}
.card:hover {
    @apply bg-[#27292D]/[.20] backdrop-blur-sm;
}